useDynLib(ABSEIR)
useDynLib(RcppCAF)
export("SpatialSEIRModel")
export("DataModel")
export("DistanceModel")
export("ExposureModel")
export("ReinfectionModel")
export("InitialValueContainer")
export("TransitionPriors")
export("SamplingControl")
export("epidemic.simulations")
export("summary.SpatialSEIRModel")
export("print.summary.SpatialSEIRModel")
export("plot.SpatialSEIRModel")
import(methods, Rcpp, RcppCAF)
