useDynLib(ABSEIR)
export("SpatialSEIRModel")
export("DataModel")
export("DistanceModel")
export("ExposureModel")
export("ReinfectionModel")
export("InitialValueContainer")
export("TransitionPriors")
export("SamplingControl")
import(methods, Rcpp)
